<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Task Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/member_style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css">
  <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
  <!-- Navigation Bar -->
  <div class="w3-sidebar">
    <a class="active" href="project.html">
      <div class="logo_contain">
        <img src="\img\combine_logo.png" alt="logo">
      </div>
    </a>
    <ul>
      <li>
        <div class="nav-items">
          <a href="home.html"><img src="\img\icons8-dashboard-layout-48.png" alt="" class="nav-img" width="32px"
              height="32px">Home</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="member.html"><img src="\img\icons8-member-48.png" alt="" class="nav-img" width="32px"
              height="32px">Member</a>
        </div>
      </li>
      <li>
        <div class="nav-items">

          <a href="task.html"><img src="\img\icons8-task-50.png" alt="" class="nav-img" width="32px"
              height="32px">Task</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="calendar.html"><img src="\img\icons8-calendar-64.png" alt="" class="nav-img" width="32px"
              height="32px">Calendar</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="#setting"><img src="\img\icons8-settings-64.png" alt="" class="nav-img" width="32px"
              height="32px">Setting</a>
        </div>
      </li>
    </ul>
  </div>

  <!-- <div style="margin-left:20%;padding:1px 16px;height:1000px;"> -->
  <div class="w3-container">
    <!-- pop up -->
    <div class="popup-notify" id="notify">
      <div class="popup-head">
        <h3 class="popup-title">Notification</h3>
        <img src="\img\Notification-button.png" alt="">
        <button onclick="closeNotify()">X</button>
      </div>
      <div class="popup-body">
        <div class="notify-content">
          <div class="notify-img">U</div>(Task remind) Due date: 11/1/2024
        </div>
        <div class="notify-content">
          <div class="notify-img">U</div>(Event) Weekly Meeting: 12/1/2024
        </div>
      </div>
    </div>

    <!-- pop up -->
    <div class="popup-add-mem" id="add-mem">
      <div class="popup-head">
        <h3 class="popup-title">Invite new member</h3>
        <button onclick="closePopupAddMem()">X</button>
      </div>
      <!-- <form class="invitation-info" id="invite-form" action=""> -->
      <div class="invite-member">
        <label for="invitation" id="invite-label">Invite Some Friends</label>
        <input type="text" name="invitation" id="invite-input" placeholder="Email or name" style="position: absolute;
        left: 5%;
        top: 50%;
        width: 80%;
        margin: 0;
        font-size: medium;
        padding: 4% 0 1% 2%;
        background-color: #F5F5F5;
        color: #5e6269;
        border: none;
        border-bottom: 1px solid #4f6480;
        /* font-size: 1.5vw; */">
        <button id="invite-btn-1" type="submit"><img src="\img\Add Administrator.png" alt=""></button>
      </div>
      <!-- </form> -->
    </div>

    <!-- pop up -->
    <div class="popup-share" id="share">
      <div class="popup-head">
        <h3 class="popup-title">Invite new member</h3>
        <button onclick="closePopupShare()">X</button>
      </div>
      <form class="invitation-info" action="" method="PUT">
        <label for="invitation">Invite Some Friends</label>
        <input type="text" name="id" placeholder="link">
        <button id="invite-btn-2" type="submit"><img src="/img/icons8-copy-24.png" alt=""></button>
      </form>
    </div>

    <!-- Project Name -->
    <div class="header">
      <!-- <h1 style="left: 18%; position: fixed;">Project Name</h1> -->
      <!-- notify button -->
      <button class="notify-btn" onclick="openNotify()">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
          viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
        </svg>
      </button>
      <div class="profile">
        <div class="profile-img">
          <%= user.username[0] %>
        </div>
        <div class="profile-content">
          <p class="profile-user">
            <%= user.username %>
          </p>
          <p class="profile-email">
            <%= user.email %>
          </p>
        </div>
      </div>
    </div>
    <div class="project-title">
      <h1>
        <%= projName %>
      </h1>
    </div>
    <h3 class="member-title">Project's member (<%= memberList.length %>)</h3>

    <!-- buttons -->
    <div class="functional-btn">
      <img src="/img/icons8-member-60.png" alt="">
      <div class="search">
        <input class="form-control" type="text" placeholder="Filter by name ...">
      </div>
      <button type="button" class="btn btn-secondary btn-sm" id="add-member-btn" onclick="openPopupAddMem()"><img
          src="/img/Add Administrator.png" alt="" width="24px" height="24px"> Invite by email</button>
      <button type="button" class="btn btn-secondary btn-sm" id="share-by-link-btn" onclick="openPopupShare()"><img
          src="/img/icons8-link-24.png" alt="" width="24px" height="24px"> Invite by link</button>
    </div>

    <!-- member list -->
    <div class="member-list">
      <% for (let i=0;i < memberList.length; i++) { %>
        <div class="member">
          <div class="profile-img" id="mem-tag">U</div>
          <p class="mem-name">
            <%= memberList[i].username %>
          </p>
          <% if(memberList[i].username==user.username) {%>
            <button type="button" class="btn btn-secondary btn-sm" id="remove-member-btn">
              leave
            </button>
            <% }%>
        </div>

        <% } %>
    </div>
  </div>
</body>
<script>
  let popupNotify = document.getElementById("notify");
  let popupAddMem = document.getElementById("add-mem");
  let popupShare = document.getElementById("share");
  let currentProjectId;
  let page;
  let listMemberToInvite = [];

  $(document).ready(function () {
    $("#invite-btn-1").click(function (event) {
      listMemberToInvite.push($("#invite-name").val().trim());
      var inviteInfo = {
        username: listMemberToInvite//$("#invite-name").val().trim()
      };
      console.log(inviteInfo);
      // console.log("/Projects/project"+window.location.search);
      let requestURL = "/Projects/project" + window.location.search;
      $.ajax({
        type: "PUT",
        url: requestURL,
        data: JSON.stringify(inviteInfo),
        //dataType: "json",
        contentType: "application/json",
        //encode: true,
        success: function (res) {
          console.log("successfully send request!");
          console.log(res);
          console.log(typeof (res));
          window.sessionStorage.setItem("newmember" + res['_id'], JSON.stringify(res));
          // navigateToHomePage();
        }
      }).done(function (data) {
        // console.log(data);
        // closePopupAddMem();
      });
      event.preventDefault();
    });
  });

  function openNotify() {
    popupNotify.classList.add("open-notify");
  }
  function closeNotify() {
    popupNotify.classList.remove("open-notify");
  }
  function openPopupAddMem() {
    popupAddMem.classList.add("open-add-mem");
  }
  function closePopupAddMem() {
    popupAddMem.classList.remove("open-add-mem");
  }
  function openPopupShare() {
    popupShare.classList.add("open-share");
  }
  function closePopupShare() {
    popupShare.classList.remove("open-share");
  }

  function navigateToBetweenPages() {
    let navigationLinks = document.getElementsByTagName('a');
    for (let i = 0; i < navigationLinks.length; ++i) {
      console.log("I'm here");
      navigationLinks[i].addEventListener("click", function (event) {
        event.preventDefault();
        currentProjectId = window.location.search;
        console.log(currentProjectId);
        page = navigationLinks[i].textContent;
        console.log(page);
        let isProjectsPage = 0;
        if (i == 0) {
          page = "/"
          isProjectsPage = 1;
        }
        else if (page == "Task" || page == "Member")
          page = page.toLowerCase() + "s";
        else if (page == "Home")
          page = "project";
        else
          page = page.toLowerCase();
        console.log(page);
        if (!isProjectsPage)
          window.location.href = "/Projects/" + page + currentProjectId;
        else
          window.location.href = page;
      })
    }
  }

  navigateToBetweenPages();
</script>

</html>