<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Task Page</title>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <!-- Dropdown Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Date picker -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" href="/css/task_style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <!-- Navigation Bar -->
  <div class="w3-sidebar">
    <a class="active" href="project.html">
      <div class="logo_contain">
        <img src="/img/combine_logo.png" alt="logo">
      </div>
    </a>
    <ul>
      <li>
        <div class="nav-items">
          <a href="home.html"><img src="/img/icons8-dashboard-layout-48.png" alt="" class="nav-img" width="32px"
              height="32px">Home</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="member.html"><img src="/img/icons8-member-48.png" alt="" class="nav-img" width="32px"
              height="32px">Member</a>
        </div>
      </li>
      <li>
        <div class="nav-items">

          <a href="task.html"><img src="/img/icons8-task-50.png" alt="" class="nav-img" id="task-id" width="32px"
              height="32px">Task</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="calendar.html"><img src="/img/icons8-calendar-64.png" alt="" class="nav-img" width="32px"
              height="32px">Calendar</a>
        </div>
      </li>
      <li>
        <div class="nav-items">
          <a href="#setting"><img src="/img/icons8-settings-64.png" alt="" class="nav-img" width="32px"
              height="32px">Setting</a>
        </div>
      </li>
    </ul>
  </div>

  <!-- <div style="margin-left:20%;padding:1px 16px;height:1000px;"> -->
  <div class="w3-container">
    <!-- pop up -->
    <div class="popup-notify" id="notify">
      <div class="popup-head">
        <h3 class="popup-title">Notification</h3>
        <img src="/img/Notification-button.png" alt="">
        <button onclick="closeNotify()">X</button>
      </div>
      <div class="popup-body">
        <div class="notify-content">
          <div class="notify-img">U</div>(Task remind) Due date: 11/1/2024
        </div>
        <div class="notify-content">
          <div class="notify-img">U</div>(Event) Weekly Meeting: 12/1/2024
        </div>
      </div>
    </div>

    <div class="popup-assign" id="assign">
      <div class="popup-head">
        <h3 class="popup-title">Member In Workspace</h3>
        <button onclick="closeAssign()">X</button>
      </div>
      <div class="popup-body">
        <% for (let i=0; i < users.length; i++) { %>
          <div class="assignee">
            <div class="assignee-img">
              <%= users[i].username[0] %>
            </div>
            <%= users[i].username %>
              <button class="open-assign-btn"><img src="/img/Add Administrator.png" alt=""></button>
          </div>
          <% } %>
            <!-- <div class="assignee">
          <div class="assignee-img">U</div>Member 1<button class="open-assign-btn"><img src="/img/Add Administrator.png"
              alt=""></button>
        </div>
        <div class="assignee">
          <div class="assignee-img">U</div>Member 2<button class="open-assign-btn"><img src="/img/Add Administrator.png"
              alt=""></button>
        </div>
        <div class="assignee">
          <div class="assignee-img">U</div>Member 3<button class="open-assign-btn"><img src="/img/Add Administrator.png"
              alt=""></button>
        </div> -->
      </div>
    </div>

    <div class="popup-add-task" id="task">
      <div class="popup-head">
        <h3 class="popup-title"><img src="/img/icons8-task-50-black.png" alt=""> Add Task</h3>
        <button onclick="closeAddTask()">X</button>
      </div>
      <div class="popup-body">
        <!-- <form action="" class="task-info"> -->
          <label for="task-name" class="task-label">Task name:</label><br>
          <input type="text" name="task-name" id="task-name" class="task-name">
          <div class="assign">
            <p>Assign:</p>
            <button class="open-assign-btn-1" onclick="openAssign()" id="assign-btn"><img src="/img/Add Administrator.png" alt="">
          </div>
          <label for="start" class="task-label">Start Date:</label>
          <input id="datepicker1" name="start" width="276" />
          <label for="due" class="task-label">Due Date:</label>
          <input id="datepicker2" name="due" width="276" />
        <!-- </form> -->
        <button class="add-btn" id="addtask">Add</button>
      </div>
    </div>

    <div class="popup-modify-task" id="modify-task">
      <div class="popup-head">
        <h3 class="popup-title"><img src="/img/icons8-task-50-black.png" alt="">Task Modify</h3>
        <button onclick="closeModifyTask()">X</button>
      </div>
      <div class="popup-body">
        <!-- <form action="" class="task-info"> -->
          <label for="task-name" class="task-label">Task name:</label><br>
          <input type="text" name="task-name" id="task-name-to-modify" class="task-name" value="readonly" readonly>
          <div class="assign">
            <p>Assign:</p>
            <button class="open-assign-btn-1" onclick="openAssign()" id="assign-btn"><img src="/img/Add Administrator.png" alt="">
          </div>
          <label for="due" class="task-label">Due Date:</label>
          <input id="datepicker4" name="due" width="276" />
          <label for="status-update" class="task-label">Status:</label><br>
          <div class="status-update">
            <button id="dropdownButton" class="dropbtn">Status</button>
            <div class="dropdown-content">
              <p onclick="changeOption('To do')">To do</p>
              <p onclick="changeOption('In progress')">In progress</p>
              <p onclick="changeOption('Done')">Done</p>
            </div>
          </div><br><br>
          <label for="note" class="task-label">Note:</label><br>
          <textarea type="text" id="note" name="note" style="height: 100px; width: 100%;"></textarea><br>
        <!-- </form> -->
        <button class="add-btn" id="modifytask">Confirm</button>
      </div>
    </div>

    <!-- Project Name -->
    <div class="header">
      <h1 style="left: 18%; position: fixed;">Project Name</h1>
      <!-- notify button -->
      <button class="notify-btn" onclick="openNotify()">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
          viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
          <path
            d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416H416c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z" />
        </svg>
      </button>
      <div class="profile"
        style="background-color: transparent; border: none; left: 85%; position: fixed; display: flex;">
        <div class="profile-img">U</div>
        <div class="profile-content">
          <p class="profile-user">
            <%= user.username %>
          </p>
          <p class="profile-email">
            <%= user.email %>
          </p>
        </div>
      </div>
    </div>
    <!-- buttons -->
    <div class="functional-btn" style="display: flex; margin-top: 10%; margin-bottom: 1%;">
      <!-- Add Task Button -->
      <button class="add-task-btn" onclick="openAddTask()">
        <div class="add-task-container">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"
            style="margin-right: 10px; margin-top: 3px"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" />
          </svg>
          Add Task
        </div>
      </button>
      <!-- Filter Button -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
          Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Today</a>
          <a class="dropdown-item" href="#">This Week</a>
          <a class="dropdown-item" href="#">Late</a>
        </div>
      </div>
    </div>
    <!-- Task Table -->
    <table class="table" id="task-table" style="width: 85%;">
      <thead style="justify-items: center;">
        <tr>
          <th scope="col">Task name</th>
          <th scope="col">Assignment</th>
          <th scope="col">Start Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < Task_list.length; i++) {%>
          <tr>
            <th scope="row" id="Task_<%= i %>">
              <%= Task_list[i].name %>
            </th>
            <td>
              <div class="assignee-list">
                <div class="profile-img" id="assginee">U</div>
              </div>
            </td>
            <td>
              <%= Task_list[i].created_date.toLocaleDateString('en-GB') %>
            </td>
            <td>
              <%=Task_list[i].end_date.toLocaleDateString('en-GB') %>
            </td>
            <td>
              <%if(Task_list[i].status==0) {%>
                <div class="status" id="To-do">To-do</div>
                <%} else if (Task_list[i].status==1) {%>
                  <div class="status" id="In-progress">In-progress</div>
                  <%} else{ %>
                    <div class="status" id="Done">Done</div>
                    <% } %>
            </td>
            <td>
              <div class="action">
                <button class="edit-btn" onclick="openModifyTask('#edit_<%= i %>')" id="edit_<%= i %>"><img src="/img/edit.png" alt="">
                </button>
                <button class="delete-btn"><img src="/img/delete.png" alt="">
                </button>
              </div>
            </td>
          </tr>
          <% }%>
      </tbody>
    </table>
  </div>
</body>
<script>
  let popupNotify = document.getElementById("notify");
  let popupAssign = document.getElementById("assign");
  let popupAddTask = document.getElementById("task");
  let popupModifyTask = document.getElementById("modify-task");
  let selectedStartDate;
  let selectedDueDate;
  let updatedDueDate;
  let currentProjectId;
  let page;
  let assigneeList = [];

  function openNotify() {
    popupNotify.classList.add("open-notify");
  }
  function closeNotify() {
    popupNotify.classList.remove("open-notify");
  }
  function openAssign() {
    popupAssign.classList.add("open-assign");
    console.log("Done!")
  }
  function closeAssign() {
    popupAssign.classList.remove("open-assign");
  }
  function openAddTask() {
    popupAddTask.classList.add("open-add-task");
  }
  function closeAddTask() {
    popupAddTask.classList.remove("open-add-task");
  }
  let taskNameToModify;
  let taskIdToModify;
  let noteContent;
  function openModifyTask(edit_btn) {
    const editBtn = document.querySelector(edit_btn);
    popupModifyTask.classList.add("open-modify-task");
    const tr = editBtn.closest('tr');
    taskNameToModify = tr.querySelector('th').textContent;
    console.log(taskNameToModify);
    document.getElementById("task-name-to-modify").value = taskNameToModify.trim();
    taskIdToModify = findTaskId(taskNameToModify.trim());
    noteContent = JSON.parse(window.sessionStorage.getItem("tasks"+taskIdToModify)).content;
    noteElement = document.getElementById("note");
    noteElement.textContent = noteContent;
  }
  function closeModifyTask() {
    popupModifyTask.classList.remove("open-modify-task");
  }
  $('#datepicker1').datepicker({ uiLibrary: 'bootstrap5', format: 'dd/mm/yyyy' });
  $('#datepicker2').datepicker({ uiLibrary: 'bootstrap5', format: 'dd/mm/yyyy' });
  $('#datepicker1').on('change', function () {
    selectedStartDate = $(this).datepicker('value');
    console.log(selectedStartDate);
  });
  $('#datepicker2').on('change', function () {
    selectedDueDate = $(this).datepicker('value');
    console.log(selectedDueDate);
  });
  $('#datepicker3').datepicker({ uiLibrary: 'bootstrap5', format: 'dd/mm/yyyy' });
  $('#datepicker4').datepicker({ uiLibrary: 'bootstrap5', format: 'dd/mm/yyyy' });
  $('#datepicker4').on('change', function () {
    updatedDueDate = $(this).datepicker('value');
    console.log(updatedDueDate);
  });
  // Get all the buttons with the class "open-assign-btn"
  var buttons = document.querySelectorAll('.open-assign-btn');

  // Attach a click event listener to each button
  buttons.forEach(function (button) {
    button.addEventListener('click', function () {
      // Get the content of the assignee element
      var assigneeContent = this.parentNode.textContent.trim();
      // Output the content to the console (you can modify this to suit your needs)
      console.log(assigneeContent.split("\n ")[assigneeContent.split("\n ").length-1].trim());
      assignee = assigneeContent.split("\n ")[assigneeContent.split("\n ").length-1].trim();
      // assigneeList.push(assignee);
      let userId;
      for (let i=0; i< window.sessionStorage.length;++i){
        // console.log(window.sessionStorage[key]);
        let id = window.sessionStorage.key(i);
        let user = JSON.parse(window.sessionStorage.getItem(id));
        console.log(user);
        if(assignee==user.username){
          userId = user._id;
          console.log("Yeah!");
          break;
        }
      }
      if(userId){
        assigneeList.push(userId);
      }
      else{
        console.log("User not found");
      }
    });
  });

  function findTaskId(taskName){
    let taskId = "";
    for (let i=0; i< window.sessionStorage.length;++i){
        // console.log(window.sessionStorage[key]);
        let id = window.sessionStorage.key(i);
        let task = JSON.parse(window.sessionStorage.getItem(id));
        console.log("Found:",task);
        if(taskName==task.name){
          taskId = task._id;
          console.log("Yeah!");
          break;
        }
    }
    return taskId;
  }

  function navigateToBetweenPages(){
    let navigationLinks = document.getElementsByTagName('a');
    for (let i = 0; i < navigationLinks.length; ++i) {
      console.log("I'm here");
      navigationLinks[i].addEventListener("click", function (event) {
        event.preventDefault();
        currentProjectId = window.location.search;
        console.log(currentProjectId);
        page = navigationLinks[i].textContent;
        console.log(page);
        let isProjectsPage = 0;
        if (i == 0){
          page = "/"
          isProjectsPage = 1;
        }
        else if (page=="Task" || page=="Member")
          page = page.toLowerCase()+"s";
        else if (page=="Home")
          page = "project";
        else
          page = page.toLowerCase();
        console.log(page);
        if(!isProjectsPage)
          window.location.href = "/Projects/"+page+currentProjectId;
        else
          window.location.href = page;
      })
    }
  }

  $(document).ready(function () {
    $("#addtask").click(function (event) {
      var addTaskInfo = {
        name: $("#task-name").val(),
        user_ids: assigneeList,
        create_date: selectedStartDate,
        end_date: selectedDueDate
      };
      // console.log(projectInfo);
      $.ajax({
        type: "POST",
        url: "/Projects/Tasks"+window.location.search,
        data: JSON.stringify(addTaskInfo),
        //dataType: "json",
        contentType: "application/json",
        //encode: true,
        success: function (res) {
          assigneeList = [];
          console.log("successfully send request!");
          console.log(res);
          console.log(typeof(res));
          console.log(res.created_date);
          let startDate = new Date(res.created_date);
          let endDate = new Date(res.end_date);
          startDate = startDate.toLocaleDateString('en-GB');
          endDate = endDate.toLocaleDateString('en-GB');
          // window.sessionStorage.setItem("newtask" + res['_id'], JSON.stringify(res));
          // updateTaskList(res);
          console.log("Name: ",res.name);
          console.log("Status: ",res.status);
          console.log("Start: ",res.created_date);
          console.log("End: ",res.end_date);
          
          let status = "";
          if(res.status == 0){
            status = '<div class="status" id="To-do">To-do</div>';
          }
          else if(res.status == 1){
            status = '<div class="status" id="In-progress">In-progress</div>';
          }
          else if(res.status == 2){
            status = '<div class="status" id="Done">Done</div>';
          }
          console.log(status);

          var row = '<tr><th scope="row">' + res.name
           + '</th>' +
           '<td>'+
               '<div class="assignee-list">' +
                   '<div class="profile-img" id="assginee">U</div>' +
               '</div>' +
           '</td>' +
          '<td>' +
            startDate +
          '</td>' +
          '<td>' +
              endDate +
          '</td>' +
          '<td>' +
            status +
          '</td>' +
          '<td>' +
               '<div class="action">' +
                  '<button class="edit-btn" onclick="openModifyTask()"><img src="/img/edit.png" alt="">' +
                  '</button>' + 
                  '<button class="delete-btn"><img src="/img/delete.png" alt="">' +
                  '</button>'+
              '</div>'+
          '</td>'+
          '</tr>';
          console.log(row);
          console.log($("#task-table tbody"));
          
          $("#task-table tbody").append(row);

          closeAddTask();
        }
      }).done(function (data) {
        // console.log(data);
      });
      event.preventDefault();
    });
  });

  //Handle update status
  var updatedStatus = 0; // Biến lưu trữ giá trị được chọn

    function changeOption(option) {
        var dropdownButton = document.getElementById("dropdownButton");
        dropdownButton.textContent = option;
        if (option.trim() == "To do"){
          updatedStatus = 0;
        }
        else if (option.trim() == "In progress"){
          updatedStatus = 1;
        }
        else if (option.trim() == "Done"){
          updatedStatus = 2;
        }
        // updatedStatus = option; 
        // console.log(updatedStatus); 
    }
    document.getElementsByClassName("dropbtn")[0].addEventListener("click", function() {
      var dropdownContent = document.getElementsByClassName("dropdown-content")[0];
      dropdownContent.classList.toggle("show");
    });

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
            }
        }
    }

    $(document).ready(function () {
      $("#modifytask").click(function (event) {
        var modifyTaskInfo = {
          task_to_mod: taskIdToModify,
          new_content: noteContent,
          new_end_date: updatedDueDate,
          update_status: updatedStatus
        };
        // console.log(projectInfo);
        $.ajax({
          type: "PUT",
          url: "/Projects/Tasks"+window.location.search,
          data: JSON.stringify(modifyTaskInfo),
          contentType: "application/json",
          success: function (res) {
            console.log("sent request!");
            console.log(res);
            var row = '<tr><th scope="row">' + res.name
              + '</th>' +
              '<td>'+
                  '<div class="assignee-list">' +
                      '<div class="profile-img" id="assginee">U</div>' +
                  '</div>' +
              '</td>' +
              '<td>' +
                startDate +
              '</td>' +
              '<td>' +
                  endDate +
              '</td>' +
              '<td>' +
                status +
              '</td>' +
              '<td>' +
                  '<div class="action">' +
                      '<button class="edit-btn" onclick="openModifyTask()"><img src="/img/edit.png" alt="">' +
                      '</button>' + 
                      '<button class="delete-btn"><img src="/img/delete.png" alt="">' +
                      '</button>'+
                  '</div>'+
              '</td>'+
              '</tr>';
          }
        }).done(function (data) {
          // console.log(data);
        });
        event.preventDefault();
      });
    });


  navigateToBetweenPages();
</script>

</html>